html, body {
    margin: 0;
    padding: 0;
}

body {
    background: #bdc3c7;
    background: -webkit-linear-gradient(to top, #2c3e50, #bdc3c7);
    background: linear-gradient(to top, #2c3e50, #bdc3c7);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Oxygen", sans-serif;
    color: #fff;
}

h1 {
    font-size: 2em;
    margin-bottom: 10px;
}

h4 {
    font-size: 1.2em;
    margin-bottom: 20px;
}

button {
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #3498db;
    border: 2px solid #2980b9;
    cursor: pointer;
    outline: none;
    font-size: 1em;
    color: #fff;
    transition: background-color 0.3s, border-color 0.3s;
}

button:hover {
    background-color: #2980b9;
    border-color: #3498db;
}

.fun {
    background: #f7b733;
    background: -webkit-linear-gradient(to left, #f7b733, #fc4a1a);
    background: linear-gradient(to left, #f7b733, #fc4a1a);
}

/* Additional styling for a more visually appealing button */
#bored-button::before {
    content: "🎲";
    font-size: 1.5em;
    line-height: 1.5em;
}
